@font-face {
	font-family: Lato;
	src: url(../_assets/Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: "Open Sans";
	src: url(../_assets/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
	font-family: "Open Sans";
	font-weight: extrabold;
	src: url(../_assets/Open_Sans/OpenSans-ExtraBold.ttf);
}

/* RESET do naszej strony */




	

a:link {
	color: #141414;
}

a:visited {
	color: #141414;
}

a img {
	border: none;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-family: Lato;
	font-size: 1em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	width: 1024px;
	background: #fafafa;
	margin: 0px auto;
	font-size: 1em; /*14px*/
	font-family: Lato, "Open Sans", "Myriad Pro", Arial, Helvetica, sans-serif;
	color: #141414;
	padding: 0px;
	overflow: hidden;
}


header {
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;
	height: 336px;
	background: white;
}

header h1 {
	height: 336px;
	width: 800px;
	margin: 0 auto;
}

/*#left {
	width: 50px;
	height: 336px;
	background: transparent;
	margin-left: 0px;
	padding: 0px;
	border: none;
	float: left;
	}
	
	#left:visited {
		border: none;
	}
	
#right {
	width: 50px;
	height: 336px;
	background: transparent;
	margin-left: 0px;
	padding: 0px;
	border: none;
	float: right;
	}*/

nav {
	margin: 0;
	background: white;
	}

nav ul {
	margin: 0;
	padding: 0;
	float: left;
	box-shadow: 0px 6px 3px -3px #898989;
}


nav ul li {
	float: left;
	/*border-top: #898989 2px solid;*/
}

nav ul a {
	background: white;
	display: block;
	width: 204.8px;
	height: 40px;
	padding: 5px 0;
	border-top: white 6px solid;
	line-height: 40px;
	text-align: center;
	font: 1.7em Lato;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.5s;
}

nav ul a:hover {
	border-top: #d87227 6px solid;
}

nav ul li:hover {
	/*border-top: #d87227 2px solid;*/
	box-shadow: 0px 8px 3px -3px #898989;
}

.active {
	border-top: #d87227 6px solid;
}
	
.icon {
	display: none;
}

@media screen and (max-width:680px) {
	nav {
		width: 100%;
		background: white;
	}
	nav ul {
		width: 100%;
		background: white;
	}
	
	nav ul li:not(:first-child) {display: none;}
	
	nav ul li.icon {display: inline-block;
	float: left;
	}
	
	nav ul.responsive li {
		display: block;
		clear: both;
		}
}

#map {
	width: 100%;
	height: 500px;
	background: #d87227;
	margin-bottom: 100px;
	filter: grayscale(90%);
	
}

.fixed-nav {
	position: fixed;
	top: 0px;
	z-index: 99;
	box-shadow: 0px 6px 3px -3px #898989;
	
}

.fixed-nav a:hover {
	box-shadow: 0px 8px 3px -3px #898989;

}

.fixed-nav ul {
	box-shadow: 0px 6px 3px -3px #898989;	
}
	
.works {
	height: 231.75px;
	width: 309px;
	filter: grayscale(100%);
	display: block;
	float: left;
	margin: 15px;
	transition: all 0.5s;
}

.works:last-of-type {
	clear: both;
	display: block;
	margin-left: 357.5px;
}

.works:hover {
	filter: none;
	transform: scale(1.1);
}

article {
	clear: both;
	width: 1024px;
	margin: 0px auto;
	padding: 20px 0px;
	
}


/*gdy linkuję do #, wtedy jest to przesunięte o -100px i nav tego nie zasłanie*/
/* .linked { */
	/* margin-top: -100px; */
	/* padding-top: 100px; */
/* } */

#about {
	margin-top: 0px;
	padding-top: 0px;
}

#photo {
	
	width: 300px;
	height: 300px;
	float: right;
	border: solid 4px #d87227;
	border-radius: 300px;
	background: url("../_img/photo1.jpg") no-repeat center;
}

#about p {
	width: 60%;
	float: left;
}
 
 article h2 {
	display: block;
	height: 87px;
	line-height: 87px;
	padding: 40px 0px;
	margin: 0px auto;
	text-align: center;
	font-weight: 900;
	font: 4em "Open Sans";
	
	color: #141414;
	letter-spacing: 20px;
	border-top: #898989 2px solid;
 } 
 
 #about h2 {
	 border-top: none;
 }
 
 article h2 span {
	color: #d87227;
 }
 
.img {
	height: 231.75px;
	width: 309px;
	margin: 15px;
	float: left;
	transition: all 0.5s;
}

.colorimg {
	height: 231.75px;
	width: 309px;
	position: relative;
}

.img:hover {
	transform: scale(1.1);
}

.background {
	z-index: 9;
	background: #d87227;
	height: 231.75px;
	width: 309px;
	position: absolute;
}

.descr {
	z-index: 10;
	position: absolute;
	opacity: 1;
	display: block;
	height: 231.75px;
	width: 309px;
	color: #ffffff;
	font-size: 2em;
	line-height: 231.75px;
	text-align: center;

}

.up {
	opacity: 1;
	transition: visibility 0.2s, opacity 1s;
	width: 70px;
	height: 70px;
	border: #d87227;
	border-radius: 35px;
	color: white;
	background: #d87227 url("../_img/pop.png") no-repeat center;
	position: fixed;
	bottom: 50px;
	right: 50px;
	box-shadow: 0px 1px 2px 1px #898989;
	font: 30px bold;
	outline: none;
}
.up:active {
	outline: none;
	box-shadow: 0px 1px 2px 2px #898989;
}

.up.hidden {
	visibility: hidden;
	opacity: 0;
}

#contact-form {
	width: 100%;
	margin: 30px 0;
}

#contact-form input[name='your-name'],
#contact-form input[name='your-email'] {
	display: block;
	float: left;
	width: 478px;
	height: 35px;
	padding: 10px;
	border: solid 3px #898989;
	border-radius: 10px;
	line-height: 35px;
	font: 1em Lato;
	margin-bottom: 20px;
	outline: none;
	
	
}

#contact-form input[name='your-name']:focus,
#contact-form input[name='your-email']:focus {
	border: solid 3px #d87227;
}
	
#contact-form input[name='your-name'] {
	margin-right: 15px;
}

#contact-form textarea {
	display: block;
	float: left;
	width: 998px;
	height: 100px;
	padding: 10px;
	border: solid 3px #898989;
	border-radius: 10px;
	line-height: 35px;
	font: 1em Lato;
	outline: none;
	margin-bottom: 20px;
}

#contact-form textarea:focus {
	border: solid 3px #d87227;
}

#button-form {
	float: right;
	width: 100px;
	height: 60px;
	background: #d87227;
	padding: 10px;
	border: none;
	border-radius: 20px;
	text-align: center;
	line-height: 35px;
	font: 1.2em Lato;
	color: white;
	outline: none;
	box-shadow: 0px 1px 2px 1px #898989;
	margin: 0 10px 30px 0;
	letter-spacing: 0.07em;
}

#button-form:active {
	outline: none;
	box-shadow: 0px 1px 2px 2px #898989;
}

/*zmiana koloru pola formularza po autouzupełnianiu z domyślnego żółtego na biały*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

#table-errors {
	background: rgba(216, 114, 39, 0.2);
	padding: 10px 0;
} 

#table-errors li  {
	font: 1em Lato;
	padding: 5px 20px;
	
} 