@font-face {
	font-family: Lato;
	src: url(../_assets/Lato/Lato-Regular.ttf);
}
@font-face {
	font-family: 'Open Sans;
	src: url(../_assets/Open_Sans/OpenSans-Regular.ttf);
}

/* RESET do naszej strony */




	

a:link {
	color: #141414;
}

a:visited {
	color: #141414;
}

a img {
	border: none;
}

ul {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	font-family: Lato;
	font-size: 1em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	max-width: 1024px;
	min-width: 360px;
	width: 100%;
	background: #fafafa;
	margin: 0px auto;
	font-size: 1em; /*14px*/
	font-family: Lato, "Myriad Pro", Arial, Helvetica, sans-serif;
	color: #141414;
	padding: 0px;
	overflow: hidden;
}


header {
	padding-top: 50px;
	padding-bottom: 50px;
	overflow: hidden;

	background: white;
}

header h1 {
	height: 100%;
	width: 78%;
	margin: 0 auto;
}

header h1 img {
	width: 100%;
}

/*#left {
	width: 50px;
	height: 336px;
	background: transparent;
	margin-left: 0px;
	padding: 0px;
	border: none;
	float: left;
	}
	
	#left:visited {
		border: none;
	}
	
#right {
	width: 50px;
	height: 336px;
	background: transparent;
	margin-left: 0px;
	padding: 0px;
	border: none;
	float: right;
	}*/

nav {
	width: 100%;
	margin: 0;
	background: white;
	}

nav ul {
	width: 100%;
	background: white;
	margin: 0;
	padding: 0;
	float: left;
	box-shadow: 0px 6px 3px -3px #898989;
}


nav ul li {
	float: left;
	width: 20%;
	/*border-top: #898989 2px solid;*/
}

nav ul a {
	background: white;
	display: block;
	min-width: 204.8px;
	width: 20%;
	height: 40px;
	padding: 5px 0;
	border-top: white 6px solid;
	line-height: 40px;
	text-align: center;
	font: 170% Lato;
	font-weight: bold;
	text-decoration: none;
}

nav ul a:hover {
	border-top: #d87227 6px solid;
}

nav ul li:hover {
	width: 20%;
	/*border-top: #d87227 2px solid;*/
	box-shadow: 0px 8px 3px -3px #898989;
}

.fixed-nav {
	position: fixed;
	top: 0px;
	z-index: 99;
	box-shadow: 0px 6px 3px -3px #898989;
}

.fixed-nav a:hover {
	box-shadow: 0px 8px 3px -3px #898989;
}

.fixed-nav ul {
	box-shadow: 0px 6px 3px -3px #898989;	
}
	
.works {
	height: 231.75px;
	width: 309px;
	filter: grayscale(100%);
	display: block;
	float: left;
	margin: 15px;
}

.works:last-of-type {
	clear: both;
	display: block;
	margin-left: 357.5px;
}

.works:hover {
	filter: none;
	transform: scale(1.1);
}

article {
	clear: both;
	width: 1024px;
	margin: 0px auto;
	
}
/*gdy linkuję do #, wtedy jest to przesunięte o -100px i nav tego nie zasłanie*/
.linked {
	margin-top: -100px;
	padding-top: 100px;
}


 
 article h2 {
	display: block;
	height: 87px;
	line-height: 87px;
	padding: 40px 0px;
	margin: 0px auto;
	text-align: center;
	font: 900 4em 'Open Sans';
	color: #141414;
	letter-spacing: 20px;
	border-top: #898989 2px solid;
 } 
 
 article h2 span {
	color: #d87227;
 }
 
 article#about {
	 margin-top: 150px;
 }
 
article p {
	clear: both;
}

.img {
	height: 231.75px;
	width: 309px;
	margin: 15px;
	float: left;
}

.colorimg {
	height: 231.75px;
	width: 309px;
	position: relative;
}

.background {
	z-index: 1;
	background: #d87227;
	height: 231.75px;
	width: 309px;
	position: absolute;
}

.descr {
	z-index: 2;
	position: absolute;
	opacity: 1;
	display: block;
	height: 231.75px;
	width: 309px;
	color: #ffffff;
	font-size: 2em;
	line-height: 231.75px;
	text-align: center;

}
