html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: black;
}

body {
	width: 100%;
	background: #fff;
	margin: 0px auto;
	font-size: 1em; /*14px*/
	font-family: Lato, Arial, Helvetica, sans-serif;
	color: #808080;
	padding: 0px;

}

body, html {
	height: 100%;
}

nav {
	background: white;
	width: 100%;
	z-index: 10;
	margin: 0 auto;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0px 5px 11px 0px rgba(50, 50, 50, 0.08);

}

#nav {
	height: 76px;
	margin: 0 auto;
	width: 100%;
	max-width: 1170px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	position: relative;
}

nav ul li {
	float: left;
}

nav ul li div {
	display: none;
	position: absolute;
	top:76px;
	left: 30px;
	background: white;
}

nav ul li a {
	height: 76px;
	line-height: 76px;
	padding:0 25px;
}

nav ul li a:hover {
	color: #3ab0e2;
}



.clear {
	clear: both;
}

header {
	margin-top:76px;
	clear: both;
	width: 100%;
	background-image: url("../images/header.jpg");
	height: 580px;
    display: flex;
	justify-content: center;
	align-items: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
}

.flex {
	width: 100%;
}



header h1 {
	font-size: 4rem;
	line-height: 4.2rem;
	color: white;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 50px;
}

.button {
	display: inline-block; /*dodane ponieważ display: block nie nadawalo się, a inline powodowało, ze div zawierający w swojej wysokości nei zawierał dolnego paddingu dla tych elementów i nie centrował się w pionie idealnie */
	color: white;
	padding: 13px 35px;
	box-sizing: border-box;
	margin: 15px 15px 0 15px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 4px;
}

header .button:first-of-type {
	background: #e96656;
}

header .button:last-of-type {
	background: #1e9e6b;
}

section {
	text-align: center;
	padding: 100px 0;
}

section h2 {
	font-size: 3.2rem;
	color: #404040;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 10px;
}

.subtitle {
	font-size: 1.2rem;
	color: black;
	margin-bottom: 75px;
}

h3 {
	font-size: 1.3rem;
	color: #404040;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	margin: 10px auto 30px auto;
	float: none;
    width: auto;
}



.row {
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	
}



#feature a {
	display: block;
	width: 125px;
	height: 125px;
	border: 10px solid #ececec;
	border-radius:125px;
	margin: 0 auto;
	overflow: hidden;
	transition: all 0.5s;
}



/* #e96656; */
/* #34d293; */
/* #3ab0e2; */
/* #f7d861; */

.item {
	padding: 0 15px;
}

.item h3::after {
	content: "";
	width: 75%;
	height: 2px;
	position: absolute;
	bottom: -10px;
	left: 12.5%;
	
}

.item:nth-child(4n+1)  h3::after {
	background: #e96656;
}

.item:nth-child(4n+2)  h3::after {
	background: #34d293;
}

.item:nth-child(4n+3)  h3::after {
	background: #3ab0e2;
}

.item:nth-child(4n+4)  h3::after {
	background: #f7d861;
}

#separator {
	box-sizing: border-box;
	background-image: url("../images/header.jpg");
	position: relative;
	height: 348px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow: inset 0 0 0 348px rgba(52, 210, 147, 0.2);
}

/* #separator .transparent{ */
	/* background: rgba(52, 210, 147, 0.2); */

	/* position: absolute; */
	/* top: 0; */
    /* height: 100%; */
    /* width: 100%; */
	/* display: flex; */
	/* align-items: center; */

/* } */

#separator h3 {
	display: block;
	font-size: 1.7rem;
	line-height: 2.4rem;
	text-transform: none;
	width: 50%;
	margin: 0 auto;

}

/* #separator .flex { */
	/* padding: 100px 0; */
/* } */

#separator .button {
	background: #1e9e6b;
	
}

#testimonials {
	background: #8c7620;
}

#testimonials .item {
	background: white;
	color: black;
	margin: 0 15px;
	border-radius: 3px;
	padding: 15px;
}
.testimonial-img {
	max-width: 67px;
	height: 67px;
	border-radius: 67px;
	overflow: hidden;
}

.signature {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#purchase {
	background: #e96656;
}

#purchase .button {
	background: #db5a4a;
}

#about {
	background: #272727;
	color: white;
}

#about h3 {
	font-size: 4rem;
	text-align: right;
	text-transform: none;
	font-weight: 300;
	margin: -15px 0 0 0;
}

#clients {
	margin-top: 30px;
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#about div h4 {
	position: relative;
	font-size: 1.14rem;
	text-transform: uppercase;
}

#about div h4:before, #about div h4:after {
	content: "";
	
	height: 5px;
	border-top: solid 1px #939393;
	border-bottom: solid 1px #939393;
	position: absolute;
    top: 50%;
	width: 30%;
}



#about div h4:before {
	left: 12.5%;
}

#about div h4:after {
	right: 12.5%;
}


#about .row p {
	display: block;
	color: #939393;
	margin: 0 25px;
}

#about h2, #about .subtitle , #about h3, #testimonials h2, #testimonials .subtitle, #contact h2, #contact .subtitle, #separator h3, #purchase h3 {
	color: white;
}

#about .row h3, #about .row div, #about .row p {
	width: 33.33%;
}

#blog a {
	display: inline-block;
}

#blog .flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

#blog .row {
	margin: 0;
}

.details {
	display: none;
}

#team .item {
	width: 25%;
}

.team-img {
	width: 100%;
	max-width: 174px;
	max-height: 174px;
	margin: 0 auto;
	border-radius: 174px;
	overflow: hidden;
}

.carusel .item img {
	width: 100%;
	max-width: 240px;
	height: auto;
}

#contact {
	background-image: url("../images/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	box-shadow: inset 0 0 0 348px rgba(52, 210, 147, 0.2);
	overflow: hidden; /*bo nie łapałao floatującego buttonu*/
}

/* #contact .transparent { */
	/* background: rgba(0,0,0,0.2); */
	/* overflow: hidden; /*bo nie łapałao floatującego buttonu*/
/* } */

form {
	width: 75%;
	margin: 0 auto;

}

form input:nth-child(2) {
	margin: 0 15px;
}

form input {
	font-size: 1rem;
	font-family: Lato;
	box-sizing: border-box;
	border: 2px;
	border-radius: 4px;
	padding: 10px;
	width: calc((100% - 30px) /3);
	float: left;

}

form input:focus, form textarea:focus {
	outline-color: #e96656
}

form textarea {
	box-sizing: border-box;
	width: 100%;
	min-height: 150px;
	padding: 10px;
	margin: 15px auto;
	font-size: 1rem;
	font-family: Lato;
	border: 2px;
	border-radius: 4px;
	padding: 10px;
	clear: both;
}

form button {
	float: right;
	color: white;
	padding: 13px 35px;
	text-transform: uppercase;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	background: #e96656;
	outline: none;
	transition: all 0.5s;
	cursor: pointer;
}

form button:hover, form button:active {
	background: #cb4332;

}

footer {
	clear: both;
	background: #272727;
}

footer #social {
	background: #171717;
	padding: 50px 0;
}

footer .row div {
	width: 25%;
}

#skills {
	margin: 0;
}

#skills ul {
	float: left;
}

/* #about #skills ul li { */
	
	/* height: 80px; */
	/* line-height: 80px;	 */
/* } */

svg {
	vertical-align: middle; /*żeby test był w połowie wysokości svg */ 
	width: 80px;
	height: 80px;
	transform: rotate(-90deg);
	padding-bottom: 20px; /*czyli z prawej, bo jest przekręcony o 90st */
}

svg circle {
	cx: 40px;
	cy: 40px;
	r: 32px;
	stroke-width: 6px;
	fill: rgba(0,0,0,0.1);
}

#skills ul li:nth-child(4n+1) svg {
	stroke-dasharray: 80 201;
	stroke: #e96656;
}

#skills ul li:nth-child(4n+2) svg {
	stroke-dasharray: 100 201;
	stroke: #34d293;
}

#skills ul li:nth-child(4n+3) svg {
	stroke-dasharray: 130 201;
	stroke: #3ab0e2;
}

#skills ul li:nth-child(4n+4) svg {
	stroke-dasharray: 201 201;
	stroke: #f7d861;
}

#feature .item:nth-child(4n+1) a:hover {
	border: 10px solid #e96656;
}

#feature .item:nth-child(4n+2) a:hover {
	border: 10px solid #34d293;
}

#feature .item:nth-child(4n+3) a:hover {
	border: 10px solid #3ab0e2;
}

#feature .item:nth-child(4n+4) a:hover {
	border: 10px solid #f7d861;
}

#blog .carusel .item {
	width: 345px;
	float: left;
}

#blog .carusel {
	display: flex;

}

#blog .row {
    overflow: hidden;
	justify-content: flex-start;
	align-items: stretch;
}

.red {
	color: #e96656;
}

.item ul, footer ul {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item ul li, footer ul li {
	margin: 4px;
}

.green {
	color: #34d293;
}

.blue {
	color: #3ab0e2;
}

footer {
	text-align: center;
}


	

footer p {
	margin-top: 10px;
}


/* #e96656; */
/* #34d293; */
/* #3ab0e2; */
/* #f7d861; */