html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	min-height: 100%;
	width: 100%;
	background: white;
	margin: 0px auto;
	font-size: 1em; /*14px*/
	font-family: Lato, Arial, Helvetica, sans-serif;
	color: #404040;
	padding: 0px;

}



header {
	background-image: url("../images/header6.jpg");
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header div {
	background: rgba(255,255,255,0.3);
	box-sizing: border-box;
	margin: 20px;
	padding: 30px 75px;
	position: relative;
}

header div form {
	padding-bottom: 0px;
}

header div::before, header div::after {
	content: "";
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;

}

header div::before {
	border-top: 20px #fc5f45 solid;
	border-left: 20px #fc5f45 solid;
	top: -10px;
	left: -10px;
}

header div::after {
	border-bottom: 20px #fc5f45 solid;
	border-right: 20px #fc5f45 solid;
	bottom: -10px;
	right: -10px;
}

header h2 {
	padding: 15px 0;
}

header p {
	font-size: 1.5rem;
}

#logo {
	display: block;
	width: 120px;
	margin: 0 auto;
	/* min-width: 250px; */
	/* max-width: 420px; */
}
.row_carousel {
	width: 75%;
	height: 570px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}

#carousel {
	display: flex;
	position: absolute;
	left: 0;
	top: 0;
	animation: slide 20s infinite;
}

#carousel img {
	box-sizing: border-box;
	display: block;
	padding: 0 80px;
}

@keyframes slide {
	0% { left: 0;}
	16.66% {left: 0;}
	33.33% {left: -100%;}
	50% {left: -100%;}
	66.66% {left: -200%;}
	83.33% {left: -200%;}
	100% {left: 0;}
}



section {
	padding: 50px 0;
	overflow-x: hidden;
}

section p {
	margin: 0 auto;
	width: 75%;
	line-height: 1.5rem;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

#description .img {
	box-sizing: border-box;
	width: 33.33%;
	padding: 0 25px;
	min-width: 340px;
	order: 1;

}

#description img {
	display: block;
	margin: 0 auto;
	min-width: 300px;
	max-width: 400px;
	width: 100%;
}

#description h3 {
	font-size: 1.5rem;
}



#description ul li {
	height: 95px;
	display: flex;
  justify-content: center;
  flex-direction: column;
}

#left_ul, #right_ul {
	box-sizing: border-box;
	width: 33.33%;
}

#right_ul {
	order: 3;
}

#left_ul {
	order: 0;
}

#left_ul p, #right_ul p {
	width: 100%;
}

#left_ul li {
	text-align:right;
	padding-right: 80px;
}

#left_ul li:nth-child(1) {
	background: url("../images/flask.png") right center/72px no-repeat;
}

#left_ul li:nth-child(2) {
	background: url("../images/note.png") right center/72px no-repeat;
}

#left_ul li:nth-child(3) {
	background: url("../images/calendar.png") right center/72px no-repeat;
}


#right_ul li {
	text-align: left;
	padding-left: 80px;	
}

#right_ul li:nth-child(1) {
	background: url("../images/leaf.png") left center/72px no-repeat;
}

#right_ul li:nth-child(2) {
	background: url("../images/chart.png") left center/72px no-repeat;
}

#right_ul li:nth-child(3) {
	background: url("../images/time.png") left center/72px no-repeat;
}

form {
	margin: 0px auto;
	padding: 20px 0px;
	width: 70%;	
	overflow: hidden;
}

input {
	float: left;
	box-sizing: border-box;
	width: 49%;
	border: 2px #404040 solid;
	border-radius: 5px;
	padding: 10px;
	height: 55px;
	margin-bottom: 15px;
}

input[type='email'] {
	float: right;
}

form  input:focus {
	outline: none;
}

form button:focus {
	outline: none;
}

form button {
	clear: both;
	width: 200px;	
	float:right;
	background: #fc5f45;
	box-sizing: border-box;
	border: 2px #fc5f45 solid;
	border-radius: 5px;
	padding: 10px;
	height: 55px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: white;
	cursor: pointer;
	transition: all 0.4s;
}

form button:hover {
	background: #e55542;
	border-color: #e55542;
}

#second {
	background-image: url("../images/header2.jpg");
    height: auto;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: bold;
	line-height: 4rem;
	padding-bottom: 15px;

}

section h2::before {
	content: "";
	padding-left:15px;
	border-left: 10px solid #fc5f45;
}

footer {
	clear: both;
	background: rgba(255,255,255,0.2);
	padding: 50px 0;
	text-align: center;
	
}

footer p {
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
}

footer a {
	display: block;
	text-decoration: none;
	font-size: 1.5rem;
	color: #404040;
}

footer img {
	margin: 15px auto;
	width: 100px;
}

header a {
	display: block;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translateX(-50%);
	opacity: 1;
	transition: visibility 0.7s, opacity 1s, bottom 1s ;
}

header a img {
	width: 77px;
}

header a.hidden {
	opacity: 0;
	visibility: hidden;
}

.errList {
	margin-bottom: 15px;
	padding: 20px;
	background: rgba(0,0,0,0.2);
	font: 1rem Lato;
	color: white;
	text-align: center;
}

.errList li {
	padding: 5px 0;
}

#second .errList {
	background: rgba(255,255,255,0.2);
	color: #404040;
}



@media screen and (max-width: 1024px) {
	header div form {
		width: 90%;
	}
	header div {
		padding: 30px 25px;
	}
	#left_ul {
	order: 2;
	width: 50%;
	}
	
	#description .img {
		width: 100%;
	}
	#right_ul {
		width: 50%;
	}
	

}

@media screen and (min-width: 481px) and (max-width: 680px) {
	input {
	float: left;
	box-sizing: border-box;
	width: 100%;
	border: 2px gray solid;
	border-radius: 5px;
	padding: 10px;
	height: 55px;
}

form button {
	width: 100%;
}
	header a img {
	width: 50px;
}

	header div {
	padding: 30px 5px;
	margin: 10px;
}


header div::before, header div::after {
	width: 30px;
	height: 30px;
}

header div::before {
	border-top: 10px #fc5f45 solid;
	border-left: 10px #fc5f45 solid;
	top: -5px;
	left: -5px;
}

header div::after {
	border-bottom: 10px #fc5f45 solid;
	border-right: 10px #fc5f45 solid;
	bottom: -5px;
	right: -5px;
}
#left_ul {
	width: 480px;
	}
	#right_ul {
	width: 480px;
	}

}

@media screen and (max-width: 480px) {
	
	#left_ul {
	width: 100%;
	}
	
	#description .img {
		width: 300px;
		max-width: 300px;
		padding: 0;
	}
	
	#description img {
		width: 300px;
	}
	#right_ul {
		width: 100%;
	}

	.row_carousel {
		width: 300px;
		margin: 0 auto;
		height: 570px;
	}

	#carousel {
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		animation: slide 20s infinite;
	}

	#carousel img {
		box-sizing: border-box;
		display: block;
		width: 300px;
		height: 570px;
		margin: 0 auto;
		padding: 0;
	}

	@keyframes slide {
		0% { left: 0;}
		9.1% {left: 0;}
		18.2% {left: -300px;}
		27.3% {left: -600px;}
		36.4% {left: -900px;}
		45.5% {left: -1200px;}
		54.6% {left: -1500px;}
		63.7% {left: -1800px;}
		72.8% {left: -2100px;}
		81.9% {left: -2400px;}
		100% {left: 0;}
	}	
}


