<!DOCTYPE html>
<html ng-app="TODO_list">
	<head>
		<meta charset="UTF-8">
		<title>Todo List</title>
		<link rel="stylesheet" type="text/css" href="css/screen.css">
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body>
		<header>
			<h1>TODO List</h1>
			<h2>{{"Hello " + list.name + "!"}}</h2>
		</header>
		<section ng-view  ng-controller="startList">
			<h3>Make list</h3>
			<input ng-model="list.name" placeholder="Your name">
			<input ng-model="list.title" placeholder="List title">
			<button><a href="views/startList.html">Create!</a></button>
		</section>

	</body>
</html>