html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;
}

body {
	line-height: 1;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Raleway', sans-serif;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Ubuntu", sans-serif;
	font-weight: 700;
	text-align: center;
}

h1 {
	text-transform: uppercase;
	font-size: 3rem;

}


header {
	width: 100%;
	height: 800px;
	overflow: hidden;
	background-color: black;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	filter: brightness(50%);
}

.switch {
	position: absolute;
	bottom: 0;
}

.switch li {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: black;
	float: left;
	margin: 5px;
	cursor: pointer;
}

.switch .current {
	background: #2352b6;
}

header h1 {
	position: relative;
	z-index: 2;
	color: white;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header div {
	position: absolute;
}

nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background: #2352b6;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

.mainNav , .socialList {
	margin: auto 30px;
	display: flex;
	
}


.mainNav li{
	float: left;
	margin: auto 15px;
}

.socialList  li {
	float: left;
	margin: auto 8px;
}

.mainNav li a, .socialList li a {
	color: white;
	text-decoration: none;
}

.socialList img {
	vertical-align: middle;
	height: 30px;
}



header h1::before {
	display: inline-block;
	content: "";
	background: #2352b6;
	width: 200px;
	height: 200px;
	transform: translateX(-50%) rotate(45deg);
	position: absolute;
	z-index: -1;
	top: -150%;
	left: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	
}

h2 {
	font-size: 2rem;
	margin: 40px auto;
	line-height: 70px;
	letter-spacing: 0.3rem;
}

h2::before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	border-left: 10px solid #2352b6;
	border-top: 10px solid #2352b6;
	vertical-align: top;
	margin-right: 10px;
}

h2::after {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	border-right: 10px solid #2352b6;
	border-bottom: 10px solid #2352b6;
	vertical-align: bottom;
	margin-left: 10px;
}

section {
	width: 75%;
	margin: 0 auto;
	padding: 20px;
	padding-top: 10px;
	line-height: 1.5rem;
}

.row  {
	display: flex;
	justify-content: center;
	align-items: center;
}

#car ul {
	margin-left: 20px;
}

#car img {
	margin-right: 20px;
	width: 450px;
	height: 300px;
}

#car ul li {
	height: 40px;
}

#car ul li::before{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #2352b6;
	margin-right: 20px;
}

#team {
	width: 100%;
	background: rgba(0,0,0,0.8);
	color: white;
	text-align: center;
}

#team .row {
	width: 75%;
	margin: 0 auto;
}

.person {
	padding: 0 15px ;
}

.person h3 {
	font-size: 1.5rem;
}

.person img {
	width: 250px;
	height: 250px;
	
}

.relative {
	position: relative;
}

.person .relative {
	width: 250px;
	height: 250px;
	margin: 15px auto;
}

.mousedsc {
	width: 250px;
	height: 250px;
	position: absolute;
	top: 0;
	line-height: 250px;
	background: #2352b6;
	opacity: 0;
	transition: opacity 0.5s;
}

.visible {
	opacity: 1;
}

#sponsor img {
	height: 150px;
	width: 200px;
	margin: 0 25px;
}